
<div class=" row">
  <div class="col-2">
  <!--  <img class="log pull-right img-responsive" src="assets/LogoJaveriana.png" alt="">-->
  </div>
  <div class="col-8">
    <div class="row-5">
      <br><br>
      <h1 class="conftitle">Thales</h1>

    </div>
    
    
  </div>
  <div class="col-2 pull-right">
    <br />
    ¿Aún no tienes cuenta?
    <a><u>Regístrate</u>  </a>

   
  </div>

  

</div>

<nav class="navbar navbar-dark bg-dark">
  <div class="row">
    
    <div class="col">
      <a class="navbar-brand">Home</a>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-1"></div>
  <div class="col-10 margintop">
<h1>Employees</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  
  </div>
  <div class="col-1"></div>
</div>